<script>
    let data = <%- JSON.stringify(data) %>
  
    console.log(JSON.parse(data[0].color_image))

    // Assuming you have a reference to the container element with id "dynamic_images"
let container = document.getElementById("dynamic_images");

// Parse the JSON string to get an array of image URLs
let imagesArray = JSON.parse(data[0].color_image);

// Iterate over each image URL in the array
imagesArray.forEach(function(imageUrl) {
    // Create a new div element to hold the HTML code for each image
    let newDiv = document.createElement("div");

    // Set the innerHTML of the new div to your HTML code snippet with the dynamic image URL
    newDiv.innerHTML = `
        <a class="aspect-1 float-left overflow-hidden"
            href="<%= url %>${imageUrl.filename}"
            data-lightbox="mygallery">

            <img width="50"
                onerror="this.src='http://192.168.1.180/e_dibo/public/assets/front-end/img/image-place-holder.png'"
                src="<%= url %>${imageUrl.filename}"
                alt="Product image">
        </a>
    `;

    // Append the new div to the container
    container.appendChild(newDiv);
});

</script>